@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using System.Resources
@inject IStringLocalizer<Resources.Views.Home.IndexResource> localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ny rapport tjeneste";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
<div class="box-container">
    <div class="box">
        <h1>@localizer["KartverketsNyeRapporteringstjeneste"]</h1>
        <p>@localizer["BidraMedForbedreKartgrunnlaget"]</p>

        <!-- Conditionally render "Til Kartet" button based on user's authentication status -->
        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("RegisterAreaChange", "Sak")" class="btn-primary">@localizer["TilKartet"]</a>
        }
        else
        {
            <a class="btn-primary" onclick="showModal()">@localizer["TilKartet"]</a>
        }

        <a href="@Url.Action("CorrectMap", "Home")" class="btn-secondary">@localizer["Oblig1"]</a>
    </div>

    <div id="phone-img">
        <!-- image -->
    </div>
</div>

<div class="text-section">
    <h2 class="ubuntu-bold-italic">@localizer["KortOmTjenesten"]</h2>
    <p class="ubuntu-light">
        @localizer["KartverketTilbyrEnTjeneste"]
    </p>
</div>

<div class="box-container">
    <div>
        <a href="https://www.kartverket.no/">
            <img src="/images/kartverket-logo-large.svg" />
        </a>
    </div>
</div>

@if (ViewBag.ErrorMessage != null)
{
    <div class="error-message">
        <p>@ViewBag.ErrorMessage</p>
    </div>
}

<!-- Modal for registrering / innlogging -->
<div id="modal" class="modal">
    <div class="modal-content">
        <h2 id="modal-title">@localizer["LoggInn"]</h2>
        <form asp-controller="Bruker" asp-action="Login" method="post" id="login-form">
            <label for="epost">@localizer["Epost"]</label>
            <input type="email" id="epost" name="epost" required>
            <label for="password">@localizer["Passord"]</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="btn-primary">@localizer["LoggInn"]</button>
        </form>
        <form asp-controller="Bruker" asp-action="Register" method="post" id="register-form" style="display: none;">
            <label for="epost">@localizer["Epost"]</label>
            <input type="email" id="epost" name="Epost" required>
            <label for="passord">@localizer["Passord"]</label>
            <input type="password" id="passord" name="Passord" required>
            <button type="submit" class="btn-primary">@localizer["Registrer"]</button>
        </form>

        <div id="continue-without-login">
            <a asp-controller="Sak" asp-action="RegisterAreaChange" style="text-align: center; display: block; color: var(--button-text-hover-color); padding: 15px;">
                <u>@localizer["FortsettUtenInnlogging"]</u>
            </a>
        </div>

        <div id="toggle-form">
            <a style="text-align: center; display: block; color: var(--button-text-hover-color); padding: 15px; cursor: pointer;" onclick="toggleForm()">@localizer["Registrer"]</a>
        </div>
    </div>
</div>

<div class="overlay" id="overlay"></div>

@section Scripts {
    <script>

        // Store localized strings in JavaScript variables
        var registrerText = "@localizer["Registrer"]";
        var loggInnText = "@localizer["LoggInn"]"; // Legg til en variabel for Logg Inn

        function showModal() {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        function toggleForm() {
            var loginForm = document.getElementById("login-form");
            var registerForm = document.getElementById("register-form");
            var modalTitle = document.getElementById("modal-title");

            if (loginForm.style.display === "none") {
                loginForm.style.display = "block";
                registerForm.style.display = "none";
                modalTitle.innerText = "@localizer["LoggInn"]";
            } else {
                loginForm.style.display = "none";
                registerForm.style.display = "block";
                modalTitle.innerText = "@localizer["Registrer"]";
            }
        }

        window.onclick = function (event) {
            var modal = document.getElementById("modal");
            var overlay = document.getElementById("overlay");
            if (event.target == modal || event.target == overlay) {
                modal.style.display = "none";
                overlay.style.display = "none";
            }
        }
    </script>
}
