@model IEnumerable<kartverketprosjekt.Models.BrukerModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Administrator side";
}

<h1>
    Administrator side
</h1>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<table class="styled-table">
    <thead> 
    <tr>
        <th>E-post</th>
        <th>Tilgangsnivå</th>
        <th>Funksjoner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var bruker in Model)
    {
        <tr>
            <td>@bruker.epost</td>
            <td>@bruker.tilgangsnivaa_id</td>
            <td>
                <form asp-controller="Admin" asp-action="UpdateAccess" method="post">
                    <input type="hidden" name="userId" value="@bruker.epost"/>
                        <select name="newAccessLevel" class="form-control" required>
                            <option value="" disabled selected hidden>Endre tilgangsnivå</option>
                            <option value="1">Nivå 1 (bruker)</option>
                            <option value="2">Nivå 2 (prioritert bruker)</option>   
                            <option value="3">Nivå 3 (saksbehandler)</option>
                            <option value="4">Nivå 4 (administrator)</option>
                        </select>
                    <button type="submit" class="btn btn-primary">Oppdater</button>
                </form>
                <form asp-action="SlettBruker" method="post">
                    <input type="hidden" name="epost" value="@bruker.epost" />
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Er du sikker på at du vil slette denne brukeren?');">Slett</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>