@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Saksbehandler";
}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mapstyle.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    

    <a asp-controller="Home" asp-action="Index">
        <i class='bx bx-chevron-left'></i>
    </a>
    <h1>
        Saksoversikt
    </h1>
<!-- Tabell -->
<div class="sorting-container">
    <div class="button-group">
        <select id="sortBy" class="form-control" style="margin: 0;">
            <option value="" disabled selected>Sorter etter:</option>
            <option value="TypeFeil">Type</option>
            <option value="Vedlegg">Vedlegg</option>
            <option value="Fylke">Fylke</option>
            <option value="Kommune">Kommune</option>
            <option value="Status">Status</option>
            <option value="Dato">Dato</option>
            <option value="Kartlag">Kartlag</option>
        </select>
    </div>
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Skriv inn for å søke..." />
    </div>
</div>
<div class="upper-section">
    <div class="table-container">
        <table id="casesTable" class="styled-table">
            <thead>
            <tr>
                <th>Epost</th>
                <th>Type</th>
                <th>Vedlegg</th>
                <th>Fylke</th>
                <th>Kommune</th>
                <th>Status</th>
                <th>Saksbehandler</th>
                <th>Dato</th>
                <th>Kartlag</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var sak in ViewBag.Saker)
            {
                <tr class="@(sak.IsPriority ? "priority-row":"")" data-sakid='@sak.id' data-geojson='@Html.Raw(Json.Serialize(sak.geojson_data))' data-layerurl='@sak.layerurl' data-beskrivelse='@sak.beskrivelse' data-vedlegg='@sak.vedlegg'>
                    <td>@(sak.epost_bruker ?? "ikke registrert")</td>
                    <td>@sak.type_feil</td>
                    <td>@(sak.vedlegg != null ? "Ja" : "Nei")</td>
                    <td>@(sak.Fylkesnavn ?? "NULL")</td>
                    <td>@(sak.Kommunenavn ?? "NULL")</td>
                    <td>@sak.status</td>
                    <td>@(sak.Saksbehandler?.epost ?? "Ikke tildelt")</td> 
                    <td>@sak.opprettet_dato.ToString("dd.MM.yyyy")</td>
                    @if (sak.layerurl == "https://cache.kartverket.no/v1/wmts/1.0.0/topo/default/webmercator/{z}/{y}/{x}.png")
                    {
                        <td>Topografisk</td>
                    }
                    else if (sak.layerurl == "https://cache.kartverket.no/v1/wmts/1.0.0/topograatone/default/webmercator/{z}/{y}/{x}.png")
                    {
                        <td>Topografisk Gråtone</td>
                    }
                    else if (sak.layerurl == "https://cache.kartverket.no/v1/wmts/1.0.0/sjokartraster/default/webmercator/{z}/{y}/{x}.png")
                    {
                        <td>Sjøkart</td>
                    }
                    else if (sak.layerurl == "https://cache.kartverket.no/v1/wmts/1.0.0/toporaster/default/webmercator/{z}/{y}/{x}.png")
                    {
                        <td>Turkart</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>   

<div class="separator"></div>

<h2 style="text-align: center; color: darkgray;">Kart</h2>

<!-- Leaflet kartet -->
<div id="map">
    <h1 style="text-align: center; margin-top: 215px; color: rgba(0,0,0,0.3);text-shadow: 2px 2px 3px rgba(255,255,255,0.1);">
        -Trykk i tabellen for å åpne sak-
    </h1>
</div>


<!-- Dashbord -->
        
<h2 style="text-align: center; color: darkgray;" >Dashbord</h2>

<div class="separator"></div>

        <div class="dashboard">
            <div class="dashboard-box">
                <table class="styled-table">
                    <tr>
                        <td><strong>SakID:</strong></td>
                        <td><span class="ubuntu-light" id="dashboardSakID">-</span></td>
                    </tr>
                    <tr>
                        <td><strong>Epost:</strong></td>
                        <td><span class="ubuntu-light" id="dashboardEpost">-</span></td>
                    </tr>
                    <tr>
                        <td><strong>Type:</strong></td>
                        <td><span class="ubuntu-light" id="dashboardTypeFeil">-</span></td>
                    </tr>
                    <tr>
                        <td><strong>Beskrivelse:</strong></td>
                        <td><span class="ubuntu-light" id="dashboardBeskrivelse">-</span></td>
                    </tr>
                    <tr>
                        <td><strong>Vedlegg:</strong></td>
                        <td><span class="ubuntu-light" id="dashboardVedlegg">-</span></td>
                    </tr>
                    <tr>
                        <td><strong>Fylke:</strong></td>
                        <td><span class="ubuntu-light" id="dashboardFylke">-</span></td>
                    </tr>
                    <tr>
                        <td><strong>Kommune:</strong></td>
                        <td><span class="ubuntu-light" id="dashboardKommune">-</span></td>
                    </tr>
                    <tr>
                        <td><strong>Status:</strong></td>
                        <td><span class="ubuntu-light" id="dashboardStatus">-</span></td>
                    </tr>
                    <tr>
                        <td><strong>Saksbehandler:</strong></td>
                        <td><span class="ubuntu-light" id="dashboardSaksbehandler">-</span></td>
                    </tr>
                    <tr>
                        <td><strong>Dato:</strong></td>
                        <td><span class="ubuntu-light" id="dashboarddato">-</span></td>
                    </tr>
                    <tr>
                        <td><strong>Kartlag:</strong></td>
                        <td><span class="ubuntu-light" id="dashboardKartlag">-</span></td>
                    </tr>
                </table>
        <button class="btn-secondary" onclick="openVedleggModal()" id="visVedleggKnapp">Vis Vedlegg</button>
        <div class="overlay" id="modalOverlay" style="display: none;"></div>
        <div class="modal" id="vedleggModal" style="display: none;">
            <div class="modal-content">
                <button type="button" onclick="closeVedleggModal()" style="align-self: flex-end; border: none; cursor: pointer; background-color: var(--background-color);">
                    <i class='bx bx-x' style="font-size: 30px; color: var(--text-color);"></i>
                </button>
                <h4 class="modal-title">Vedlegg</h4>
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <img id="attachmentImage" src="" alt="Vedlegg" style="width: 100%; max-width: 600px; margin-bottom: 20px;" />
                </div>
            </div>
        </div>
    </div>
                 
            <!-- Status dropdown -->
            <div class="dashboard-box">
        <h4 class="ubuntu-light">Endre saksbehandler</h4>
        @Html.AntiForgeryToken()
        <select class="form-control" id="changeSaksbehandler" onchange="changeSaksbehandler(this)">
            <option disabled selected>Velg saksbehandler</option>
            @foreach (var saksbehandler in ViewBag.Saksbehandlere)
            {
                <option value="@saksbehandler.epost">@saksbehandler.navn</option>
            }
        </select>


                <h4 class="ubuntu-light">Endre status</h4>
        @Html.AntiForgeryToken()
                <select class="form-control" id="changeStatus">
                    <option value="Ubehandlet" selected>Ubehandlet</option>
                    <option value="Under behandling">Under Behandling</option>
                    <option value="Løst">Løst</option>
                    <option value="Avvist">Avvist</option>
                    <option value="Arkivert">Arkivert</option>
                </select>

                <!-- Kommentar-seksjon -->
                <h4 class="ubuntu-light">Legg til kommentar</h4>
        @Html.AntiForgeryToken()
                <textarea class="caseComment" rows="4" cols="50" placeholder="Skriv en kommentar..."></textarea><br/>
                <div class="btn-container">
                    <button class="btn-secondary" id="saveComment">Lagre kommentar</button>
                </div>

                <!-- Viser lagrede kommentarer -->
                <div class="commentsSection">
                    <h4 class="ubuntu-light" style="text-align: center; letter-spacing: 1px; ">Kommentarer</h4>
                    <div class="separator"></div>
                    <ul class="commentsList">
                        <!-- her legges kommentarene -->
                    </ul>
                </div>
                <div class="btn-container">
            @Html.AntiForgeryToken()
                    <button class="btn btn-danger" style="margin-top: 70px;" id="slettSakKnapp">Slett sak</button>
                    
            <!--    <button class="btn-primary" id="lagreKnapp">Lagre endringer</button>   Denne knappen har ingen funksjon. -->
                </div>
            </div>

        </div>
<div class="box-container" style="margin-bottom: 200px;">
    <div>
        <a href="https://www.kartverket.no/">
            <img class="kartverketLogo" src="/images/kartverket-logo.svg" />
        </a>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script src="/js/caseworkerview.js"></script>


